// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles_list {
  a {
    color: black;
  }
  a:hover {
    .article_item {
      background-color: lighten($red-color, 20%);
      color: white;
    }
  }
}
.article_item {
  padding-bottom: 1em;
  padding-top: 1em;
  h2 {
    margin-top: 0;
  }
  img {
    max-height: 150px;
  }
}
.article-writer-info {
  margin-top: 0.5em;
  img {
    height: 36px;
    width: 36px;
    float: left;
    margin-right: 0.2em;
  }
  span {
    display: block;
    font-size: 0.9em;
  }
}
.article_top-img {
  img {
    width: 100%;
  }
}
.single-article-page h2 {
  word-break: word-break;
}
@media (max-width: 991px) {
  .single-article-page {
    display: none;
  }
}
