$black-color: rgb(0,0,0);
$yellow-color: rgb(225,225,0);
$red-color: rgb(255,0,0);

$instagram-color: #8a3ab9;
$twitter-color: #4099FF;
$facebook-color: #3b5998;
$linkedin-color: #0077B5;

$grey-1: #f8f8f8;
$grey-2: #8f8f8f;
